.row > * {
    background: #fff;
    text-align: center;
    
    
    padding: 5px;
    margin-bottom: 15px;
    font-size: 12px;
  }

.dashboard{
  padding: 5%;
  background-color: aqua;
}

.card-addnew{
  background-color: red;
}

.card-null{
  visibility: hidden !important;
}

.minCard-obj {
  min-width: 300px;
}
